header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  background-color: #577439;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li {
  display: inline-block;
  margin: 1rem;
  cursor: pointer;
}

.logo-header {
  width: 90px;
}
